<section class="ant-block xmodule_display xmodule_CapaModule " data-student-state="{{student_state}}" {% if is_staff %}data-is-staff="True" data-url-check-no-auth="{{ check_no_auth }}" data-url-tasks-data="{{ get_tasks_data }}"{% endif %}>

    <script type="text/template" id="template-ant-block">

        <h2 class="problem-header"><%= meta.name %></h2>

        <%
            if (score.max != 0) {
                if (score.earned != 0  || attempts.used > 0) {
                    points_str = '(' + score.earned + '/' + score.max + ' баллов)'
                } else {
                    points_str = '(' + score.max + ' возможный балл)'
                }
            }
        %>
        <% if(points_str != 'undefined'){ %><div class="problem-progress"><%= points_str %></div><% } %>

        <div><%= meta.text %></div>

    {% if not is_studio %}
        <% var hidden = ' hidden'; if (ant_status == 'RUNNING') { hidden = '' } %>
        <div class="xblock-ant-success<%= hidden %>">Идёт выполнение лабораторной работы.</div>

        <div class="action">
            {% if not past_due %}
                {% if  not attempts_limit %}
                <input type="button" class="ant-start-lab" value="Выполнить" />
                <input type="button" class="ant-check-lab" value="Проверить" title="Нажмите, если Ваш рейтинг не обновился после прохождения задания" data-checking="Проверка..."/>
                {% else %}
                    <!--<div class="submission_feedback">Израсходовано отведённое количество попыток</div>-->
                {% endif %}
            {% else %}
            <div>
                <div class="submission_feedback">Время, отведённое на выполнение лабораторной работы, истекло</div>
            </div>
            {% endif %}
            <% if (attempts.limit > 0) { %>
                <div class="submission_feedback">
                    Вы использовали <%= attempts.used %> попыток из <%= attempts.limit %>
                </div>
            <% } %>
        </div>
    {% else %}
        <p><b><i>Элементы управления недоступны при редактирования блока в Студии.</i></b></p>
    {% endif %}
    </script>

    <div class="ant-content problem">
        {{student_state}}
    </div>

    {% if is_staff %}
        {% if not is_studio %}
            <div class="wrap-instructor-info">
                <a class="instructor-info-action" href="#{{id}}-debug-modal" id="{{id}}-debug-button">Отладочная информация</a>
            	<a class="instructor-info-action" href="#{{id}}-tasks-modal" id="{{id}}-show-tasks-button">Очередь заданий</a>
            </div>
        {% endif %}
    {% endif %}

    {% if is_staff %}
        {% if not is_studio %}
            <section aria-hidden="true" class="modal staff-modal" id="{{id}}-debug-modal" style="width: 800px">
                <div class="inner-wrapper" style="color: black">
                    <header><h2>Состояние пользователя</h2></header>
                    <div>&nbsp;</div>
                    <p>
                        <b>URL для запроса проверки:</b> <textarea class="instructor-info-external-check" cols="70" rows="3">N/A</textarea>
                    </p>
                    <div>
                        <label for="{{id}}-staff-user-input">Имя пользователя: </label>
                        <input type="text" id="{{id}}-staff-user-input" name="user">
                        <button value="" class="button staff-get-state-btn" id="{{id}}-staff-get-state-button">Получить</button>
                        <button value="" class="button staff-reset-state-btn" id="{{id}}-staff-reset-state-button">Сбросить</button>
                    </div>
                    <hr/>
                    <div id="{{id}}-staff-info">
                        <p>Здесь отображается состояние пользователя</p>
                        <div class="staff-info-container" style="max-height: 600px; overflow-y: scroll;">
                            <pre>{{state}}</pre>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}

    {% if is_staff %}
        {% if not is_studio %}
            <section aria-hidden="true" class="modal staff-modal" id="{{id}}-tasks-modal" style="width: 800px">
                <div class="inner-wrapper" style="color: black">
                    <header><h2>Очередь заданий</h2></header>
                    <p>
                        <b>URL для запроса проверки:</b> <textarea class="instructor-info-tasks-data" cols="70" rows="3">N/A</textarea>
                    </p>
                </div>
            </section>
        {% endif %}
    {% endif %}


</section>
