<section class="ant-block xmodule_display xmodule_CapaModule " data-id="{{id}}" data-student-state="{{student_state}}" {% if is_staff %}data-is-staff="True" data-url-check-no-auth="{{ check_no_auth }}" data-url-tasks-data="{{ get_tasks_data }}"  data-url-grades-data="{{ get_grades_data }}"{% endif %}>

    <script type="text/template" id="template-ant-block">

        <h2 class="problem-header"><%= meta.name %></h2>

        <%
            if (score.max != 0) {
                if (score.earned != 0  || attempts.used > 0) {
                    points_str = '(' + score.earned + '/' + score.max + ' баллов)'
                } else {
                    points_str = '(' + score.max + ' возможный балл)'
                }
            }
        %>
        <% if(points_str != 'undefined'){ %><div class="problem-progress"><%= points_str %></div><% } %>

        <div><%= meta.text %></div>

    {% if not is_studio %}
        <% var hidden = ' hidden'; if (ant_status == 'RUNNING') { hidden = '' } %>
        <div class="xblock-ant-success<%= hidden %>">Идёт выполнение лабораторной работы.</div>

        <div class="action">
            {% if not past_due %}
                {% if  not attempts_limit %}
                <input type="button" class="ant-start-lab" value="Выполнить" />
                <input type="button" class="ant-check-lab" value="Проверить" title="Нажмите, если Ваш рейтинг не обновился после прохождения задания" data-checking="Проверка..."/>
                {% else %}
                    <!--<div class="submission_feedback">Израсходовано отведённое количество попыток</div>-->
                {% endif %}
            {% else %}
            <div>
                <div class="submission_feedback">Время, отведённое на выполнение лабораторной работы, истекло</div>
            </div>
            {% endif %}
            <% if (attempts.limit > 0) { %>
                <div class="submission_feedback">
                    Вы использовали <%= attempts.used %> попыток из <%= attempts.limit %>
                </div>
            <% } %>
        </div>
    {% else %}
        <p><b><i>Элементы управления недоступны при редактирования блока в Студии.</i></b></p>
    {% endif %}
    </script>

    <div class="ant-content problem">
        {{student_state}}
    </div>


    {% if is_staff %}
        {% if not is_studio %}

            <hr/>

            <div class="wrap-instructor-info">
                <a class="instructor-info-action" href="#{{id}}-tools-modal" id="{{id}}-tools-button">Инструменты инструктора</a>
                <a class="instructor-info-action" href="#{{id}}-debug-modal" id="{{id}}-debug-button">Отладочная информация</a>
            	<a class="instructor-info-action" href="#{{id}}-tasks-modal" id="{{id}}-show-tasks-button">Выгрузка статистики</a>
            </div>

            <section aria-hidden="true" class="modal staff-modal" id="{{id}}-debug-modal" style="width: 800px">
                <div class="inner-wrapper" style="color: black">
                    <header><h2>Отладочная информация</h2></header>
                    <div>&nbsp;</div>
                    <table>
                        <tr>
                            <th>id</th>
                            <td>{{id}}</td>
                        </tr>
                        <tr>
                            <th>location</th>
                            <td>{{location}}</td>
                        </tr>
                        <tr>
                            <th>weight</th>
                            <td>{{weight}}</td>
                        </tr>
                        <tr>
                            <th>ant_course_id</th>
                            <td>{{ant_course_id}}</td>
                        </tr>
                        <tr>
                            <th>ant_unit_id</th>
                            <td>{{ant_unit_id}}</td>
                        </tr>
                        <tr>
                            <th><label for="{{id}}-debug-info-attempts"><b>attempts_url</b></label></th>
                            <td><textarea id="{{id}}-debug-info-attempts" readonly="readonly" cols="65" style="height: 60px;">{{attempts_url}}</textarea></td>
                        </tr>
                        <tr>
                            <th><label for="{{id}}-debug-info-lab-url"><b>attempts_url</b></label></th>
                            <td><textarea id="{{id}}-debug-info-lab-url" readonly="readonly" cols="65" style="height: 105px;">{{lab_url}}</textarea></td>
                        </tr>
                    </table>
                    <hr/>
                    <p>
                        <label for="{{id}}-staff-info-external-check">URL для запроса проверки:</label> <textarea id="{{id}}-staff-info-external-check" class="staff-info-external-check" cols="70" style="height: 120px;">N/A</textarea>
                    </p>
                </div>
            </section>

            <section aria-hidden="true" class="modal staff-modal" id="{{id}}-tasks-modal" style="width: 800px">
                <div class="inner-wrapper" style="color: black">
                    <header><h2>Выгрузка статистики</h2></header>
                    <div>&nbsp;</div>
                    <p>
                        <input type="button" value="Очередь заданий" onclick="window.location=$('#{{id}}-staff-info-tasks-data').val()"/>
                        <input type="button" value="Список оценок" onclick="window.location=$('#{{id}}-staff-info-grades-data').val()"/>
                    </p>
                    <hr/>
                    <p>
                        <label for="{{id}}-staff-info-tasks-data">Очередь заданий:</label> <textarea id="{{id}}-staff-info-tasks-data" class="staff-info-tasks-data" cols="70" style="height: 120px">N/A</textarea>
                    </p>
                    <p>
                        <label for="{{id}}-staff-info-grades-data">Список оценок:</label> <textarea id="{{id}}-staff-info-grades-data" class="staff-info-grades-data" cols="70" style="height: 120px">N/A</textarea>
                    </p>
                </div>
            </section>

            <section aria-hidden="true" class="modal staff-modal" id="{{id}}-tools-modal" style="width: 800px">
                <div class="inner-wrapper" style="color: black">
                    <header><h2>Инструменты инструктора</h2></header>
                    <div>&nbsp;</div>
                    <div>
                        <label for="{{id}}-staff-user-input">Имя пользователя: </label>
                        <input type="text" id="{{id}}-staff-user-input" name="user">
                        <input type="button" value="Получить" class="button staff-get-state-btn" id="{{id}}-staff-get-state-button"/>
                        <input type="button" value="Сбросить" class="button staff-reset-state-btn" id="{{id}}-staff-reset-state-button"/>
                        <input type="button" value="Перепроверить" class="button staff-update-state-btn" id="{{id}}-staff-update-state-button"/>
                    </div>
                    <hr/>
                    <div id="{{id}}-staff-info">
                        <p>Состояние пользователя</p>
                        <div class="staff-info-container" style="max-height: 600px; overflow-y: scroll;">
                            <pre>{{state}}</pre>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}


</section>
