#tasks-table{
	overflow: scroll;
	white-space: nowrap;
	max-height: 450px;	
}

#tasks-table table{
	margin: 20px;
}

#tasks-table td{
	border: solid 1px lightgray;
	padding: 5px;
}

#tasks-table th{
	border: solid 1px black;
	padding: 5px;
	text-align: center;
	font-weight: 700;
}

div.xblock-ant-success {
  background: #dff0d8;
  border: 1px solid #468847;
  border-radius: 4px;
  padding: 15px;
}

.hidden {
  display: none;
}
